.container{
    border: 1px solid black;
    height: 100px;
    padding-top: 35px;
    margin: 20px;
}
div{
    border: 2px dotted rgb(119, 233, 119);
    height: 40px;
}
p{
    border: 2px solid red;
    height: 20px;
}